.root {
  max-width: 400px;
  padding: 50px;
  border: 1px solid #dedede;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 15px;
}

.fields {
  margin-bottom: 20px !important;
  &__input {
    font-size: 16px;
    margin: 0 auto;
    display: block;
    max-width: 298px;
    padding: 16.5px 14px;
    border: 1px solid #dedede;
    border-radius: 4px;
    &:focus {
      outline: none;
    }
    &__error {
      border: 1px solid #d32f2f;
      &::placeholder {
        color: #d32f2f;
      }
    }
  }
  span {
    margin-top: 3px;
    margin-right: 14px;
    margin-bottom: 0;
    margin-left: 14px;
    font-size: 12px;
    color: #d32f2f;
  }
}

.title {
  margin: 0;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  text-align: center !important;
  font-weight: bold !important;
  margin-bottom: 30px !important;
  &__dark {
    color: #ffffff;
  }
}

.button {
  &__log__in {
    display: block;
    max-width: 298px;
    padding: 5px 22px;
    font-size: 15px;
    font-family: 'Roboto';
    font-weight: 500;
    color: #a6a6a6;
    background-color: #e0e0e0;
    border: none;
    border-radius: 4px;
    line-height: 33px;
    cursor: pointer;
    margin: 0 auto;
    &__isValid {
      background-color: #2e43a6;
      color: #ffffff;
    }
  }
}
