@font-face {
    font-family: 'Montserrat Alternates';
    src: url('./../../fonts/Montserrat_Alternates/MontserratAlternates-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('./../../fonts/Montserrat_Alternates/MontserratAlternates-ThinItalic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Alternates ExLight';
    src: url('./../../fonts/Montserrat_Alternates/MontserratAlternates-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Alternates ExLight';
    src: url('./../../fonts/Montserrat_Alternates/MontserratAlternates-ExtraLightItalic.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('./../../fonts/Montserrat_Alternates/MontserratAlternates-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('./../../fonts/Montserrat_Alternates/MontserratAlternates-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('./../../fonts/Montserrat_Alternates/MontserratAlternates-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('./../../fonts/Montserrat_Alternates/MontserratAlternates-RegularItalic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('./../../fonts/Montserrat_Alternates/MontserratAlternates-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('./../../fonts/Montserrat_Alternates/MontserratAlternates-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('./../../fonts/Montserrat_Alternates/MontserratAlternates-SemiBoldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('./../../fonts/Montserrat_Alternates/MontserratAlternates-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('./../../fonts/Montserrat_Alternates/MontserratAlternates-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('./../../fonts/Montserrat_Alternates/MontserratAlternates-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('./../../fonts/Montserrat_Alternates/MontserratAlternates-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('./../../fonts/Montserrat_Alternates/MontserratAlternates-ExtraBoldItalic.woff2') format('woff2');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('./../../fonts/Montserrat_Alternates/MontserratAlternates-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('./../../fonts/Montserrat_Alternates/MontserratAlternates-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}








