@import '../../sass/base/mixins';
@import '../../sass/base/palette';

.root {
  @include root;
  @include animation_speed;
  .wrapper {
    background-color: $block-color;
    border-radius: 10px;
    padding: 40px 57px 37px 37px;
    display: grid;
    gap: 15px;
    .title {
      color: #fff;
      font-family: 'Roboto';
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 43px; /* 119.444% */
    }
    .descr {
      color: #fff;
      font-family: 'Roboto';
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px; /* 155.556% */
    }
    .privacy {
      text-align: left;
      color: #ffffff;
      font-weight: 400;
      font-family: 'Roboto';
      margin-top: 15px;
      font-size: 14px;
      span {
        color: #ffffff;
        text-decoration: none;
        border-bottom: 1px solid #ffffff;
        cursor: pointer;
      }
    }
    form {
      display: grid;
      grid-template-columns: repeat(4, minmax(100px, 250px));
      grid-template-rows: repeat(1, minmax(40px, 50px));
      gap: 20px;
      .input {
        &__name {
          border-radius: 5px;
          border: 1px solid #000;
          background: #fff;
          color: #000;
          font-family: Arial;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          padding: 0 20px;
          &:focus {
            outline: none;
          }
        }
        &__phone {
          border-radius: 5px;
          border: 1px solid #000;
          background: #fff;
          color: #000;
          font-family: Arial;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          padding: 0 20px;
          &:focus {
            outline: none;
          }
        }
        &__email {
          border-radius: 5px;
          border: 1px solid #000;
          background: #fff;
          color: #000;
          font-family: Arial;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          padding: 0 20px;
          &:focus {
            outline: none;
          }
        }
      }
    }
    .form__button {
      color: #27205d;
      font-family: 'Roboto';
      font-weight: 500;
      font-size: 16px;

      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      border-radius: 5px;
      background: #fac249;
      border: none;
      cursor: pointer;
      &:focus {
        border: none;
      }
    }
  }
}

.modal {
  background-color: rgba(0, 0, 0, 0.1);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  &__content {
    background-color: #cdcdcd;
    border-radius: 10px;
    margin: 4px;
    padding: 32px;
    box-shadow: -2px 2px 8px gray;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    p {
      color: #000000;
      font-family: 'Roboto';
      font-size: 16px;
      font-weight: 400;
    }
  }
  &__close {
    top: 10px;
    right: 10px;
    position: absolute;
  }
}

.visible {
  @include visible;
}

@media (max-width: 1200px) {
  .root {
    .wrapper {
      .title {
        color: #fff;
        font-family: 'Roboto';
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 43px; /* 119.444% */
      }
      .descr {
        color: #fff;
        font-family: 'Roboto';
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 155.556% */
      }
      .privacy {
        text-align: left;
        color: #ffffff;
        font-weight: 400;
        font-family: 'Roboto';
        margin-top: 15px;
        font-size: 14px;
        span {
          color: #ffffff;
          text-decoration: none;
          border-bottom: 1px solid #ffffff;
          cursor: pointer;
        }
      }
      form {
      }
    }
  }
}

@media (max-width: 992px) {
  .root {
  }
}

@media (max-width: 768px) {
  .root {
    .wrapper {
      .title {
        color: #fff;
        font-family: 'Roboto';
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 43px; /* 119.444% */
      }
      .descr {
        color: #fff;
        font-family: 'Roboto';
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 155.556% */
      }
      .privacy {
        text-align: left;
        color: #ffffff;
        font-weight: 400;
        font-family: 'Roboto';
        margin-top: 15px;
        font-size: 14px;
        span {
          color: #ffffff;
          text-decoration: none;
          border-bottom: 1px solid #ffffff;
          cursor: pointer;
        }
      }
      form {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, minmax(40px, 50px));
      }
    }
  }
}

//Минимальная ширина телефона 320px
@media (max-width: 576px) {
  .root {
    .wrapper {
      padding: 10px 15px 10px 15px;
    }
  }
}
