@import '../../sass/base/mixins';

.root {
  margin-top: 65px;
  @include animation_speed;
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 4px 0 4px;
  }
  .title {
    @include title;
  }
}

.slider__img {
  max-width: 100%;
  height: auto;
}

:global {
  .swiper-button-next {
    &:after {
      color: #fff;
    }
  }
  .swiper-button-prev {
    &:after {
      color: #fff;
    }
  }
  .swiper-pagination-bullet-active {
    background: #fff;
  }
}

.visible {
  @include visible;
}
@media (max-width: 1200px) {
}

@media (max-width: 992px) {
  .root {
    margin-top: 48px;
  }
}

@media (max-width: 768px) {
}

//Минимальная ширина телефона 320px
@media (max-width: 576px) {
}
