@import '../../sass/base/mixins';
@import '../../sass/base/palette';

.root {
  margin: 100px auto 0 auto;

  @include animation_speed;
  h1 {
    @include title;
    line-height: 48px;
    span {
      color: #e31e24;
    }
  }
  .text {
    margin-top: 65px;
    color: $text-color;
    text-align: justify;
    font-family: 'Montserrat Alternates';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 149.4%; /* 32.868px */
  }

  .youTube {
    margin: 35px auto 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.visible {
  @include visible;
}

@media (max-width: 1200px) {
  .root {
    .text {
      margin-top: 30px;
    }

    .youTube {
      margin: 35px auto 0 auto;
      max-width: 560px;
      gap: 20px;
    }
  }
}

@media (max-width: 992px) {
  .root {
    margin: 65px auto 0 auto;
    h1 {
      @include title;
      font-size: 30px;
      line-height: 29px;
    }
  }
}

@media (max-width: 768px) {
}

//Минимальная ширина телефона 320px
@media (max-width: 576px) {
  .root {
    margin-top: 65px;
    h1 {
      @include title;
      font-size: 24px;
      line-height: 29px;
    }

    .text {
      margin-top: 30px;
      color: $text-color;
      text-align: justify;
      font-family: 'Montserrat Alternates';
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 149.4%;
    }
  }
}
