@import '../../sass/base/mixins';
@import '../../sass/base/palette';

.mobileOnly {
  display: none;
}

.root {
  background: #000032;
  will-change: transform;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  z-index: 100;

  .wrapper {
    margin: 10px 0 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $block-color;
    border-radius: 10px;
    .nav {
      margin: 0 auto;
      max-width: 740px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      height: 60px;
      align-items: center;
      &__a {
        color: $text-color;
        font-family: 'Roboto';
        font-size: 16px;
        font-weight: 500;
        text-decoration: none;
        transition: all ease-in-out 0.2s;
        z-index: 2;
        &__active {
          position: relative;
          &:after {
            content: '';
            background-color: #fff;
            width: 100%;
            height: 3px;
            left: 0;
            bottom: -50%;
            position: absolute;
            box-sizing: border-box;
          }
        }
      }

      .dropdown {
        position: relative;
        float: left;
        display: flex;
        color: #ffffff;
        font-family: 'Roboto';
        font-size: 16px;
        font-weight: 500;
        text-decoration: none;
        &__a {
          color: #ffffff;
          font-family: 'Roboto';
          font-size: 16px;
          font-weight: 500;
          text-decoration: none;
          transition: all ease-in-out 0.2s;
          z-index: 2;
          &__active {
            position: relative;
            &:after {
              content: '';
              background-color: #fff;
              width: 100%;
              height: 3px;
              left: 0;
              bottom: -50%;
              position: absolute;
              box-sizing: border-box;
            }
          }
        }
        &__content {
          margin-top: 20px;
          padding: 18px 15px;
          box-sizing: border-box;
          min-height: 100%;
          min-width: 100%;
          display: flex;
          position: absolute;
          background-color: $block-color;
          box-shadow: 5px 1px 16px 4px rgba(0, 0, 0, 0.2);
          z-index: 1;
          border-radius: 10px;
          flex-direction: column;
          gap: 20px;
          top: 100%;
          left: -15px;
        }
        &__arrow {
          display: inline-block;
          vertical-align: middle;
          margin-left: 6px;
          position: relative;
          border-color: inherit;
          &__active {
            &:after {
              transform: rotate(180deg) translateY(50%) !important;
            }
          }
          &:after {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 5px 4px 0 4px;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            border-color: transparent transparent transparent transparent;
            border-top-color: inherit;
            transition: transform 0.3s;
          }
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
    .logo {
      width: 74px;
      height: 74px;
      border-radius: 10px;
    }
  }
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 925px) {
  .root {
    .wrapper {
      max-height: 74px;
      margin: 0;
      padding: 7px 7px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 0;
      .nav {
        display: flex;
        min-width: 0;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        gap: 40px;
        a {
          color: $text-color;
        }
      }

      .menuControls {
        z-index: 3;
      }
      .splash {
        z-index: 2;
        position: fixed;
        top: 0;
        right: 0;
        width: 40%;
        //height: 100vh;
        height: 100vh;
        flex-direction: column;
        // background-color: rgba(0, 0, 0, 0.8);
        background-color: #ffffff;
        border-left: 1px solid $body-color;
        justify-content: center;
        align-items: center;
        right: -100%;
        transition: 0.6s all;
        &__active {
          right: 0;
        }
        .menu__items {
          position: relative;
          height: 100vh;
          background-color: $block-color;
          .svg__container {
            display: flex;
            justify-content: flex-end;
            svg {
              margin-right: 13px;
            }
          }
        }
      }

      .logo {
        width: 64px;
        height: 64px;
      }
    }
  }
  .desktopOnly {
    display: none;
  }
  .mobileOnly {
    display: block;
    position: fixed;
    width: 100%;
    z-index: 2;
  }
}

//Минимальная ширина телефона 320px
@media (max-width: 576px) {
}

// Hamburger
.ham {
  z-index: 3;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #ffffff;
  stroke-width: 5.5;
  stroke-linecap: round;
}
.ham8 .top {
  stroke-dasharray: 40 160;
}
.ham8 .middle {
  stroke-dasharray: 40 142;
  transform-origin: 50%;
  transition: transform 400ms;
}
.ham8 .bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition: transform 400ms, stroke-dashoffset 400ms;
}
.ham8.active .top {
  stroke-dashoffset: -64px;
}
.ham8.active .middle {
  //stroke-dashoffset: -20px;
  transform: rotate(90deg);
}
.ham8.active .bottom {
  stroke-dashoffset: -64px;
}
