@import './../../sass/base/mixins';
@import './../../sass/base/palette';

:global {
  .react-calendar {
    width: 400px;
    max-width: 100%;
    background-color: $block-color;
    color: #222;
    border-radius: 8px;
    box-shadow: 0 0px 24px rgba(0, 0, 0, 0.2);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
    border: none;
    height: fit-content;
    &__year-view__months__month {
      color: $text-color;
    }
    &__decade-view__years__year {
      color: $text-color;
    }
    &__century-view__decades__decade {
      color: $text-color;
    }
    &__month-view {
      &__weekdays {
        &__weekday {
          color: $text-color;
          &--weekend {
            color: #d10000;
          }
        }
      }
    }
    &__month-view__days__day {
      color: $text-color;
      &--neighboringMonth {
        color: #999999;
      }
    }
  }
  .react-calendar__navigation button {
    color: $text-color;
    min-width: 44px;
    background: none;
    font-size: 16px;
    margin-top: 8px;
  }
  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
    background-color: #271d62;
  }
  .react-calendar__navigation button[disabled] {
    background-color: #271d62;
  }
  abbr[title] {
    text-decoration: none;
  }
  /* .react-calendar__month-view__days__day--weekend {
 color: #d10000;
} */
  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    background: #f8f8fa;
    color: #271d62;
    border-radius: 6px;
  }
  .react-calendar__tile--now {
    background: #6f48eb33;
    border-radius: 6px;
    font-weight: bold;
    color: $text-color;
  }
  .react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--now:enabled:focus {
    background: #6f48eb33;
    border-radius: 6px;
    font-weight: bold;
    color: #271d62;
  }
  .react-calendar__tile--hasActive:enabled:hover,
  .react-calendar__tile--hasActive:enabled:focus {
    background: #f8f8fa;
  }
  .react-calendar__tile--active {
    background: #271d62;
    border-radius: 6px;
    font-weight: bold;
    color: white;
  }
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
    background: #271d62;
    color: white;
  }
  .react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #f8f8fa;
  }
  .react-calendar__tile--range {
    background: #f8f8fa;
    color: #271d62;
    border-radius: 0;
  }
  .react-calendar__tile--rangeStart {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background: #271d62;
    color: white;
  }
  .react-calendar__tile--rangeEnd {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background: #271d62;
    color: white;
  }
}

.holidays {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #d10000;
  margin: 0 auto;
}

.root {
  @include root;
  @include animation_speed;
  .title {
    @include title;
  }

  .wrapper {
    @include wrapperMargin;
    flex-wrap: wrap;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 992px) {
      justify-content: center;
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 15px;
      li {
        color: $text-color;
        font-family: 'Roboto';
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        max-width: 725px;
        text-align: justify;
        position: relative;
        padding-left: 30px;

        &:before {
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: $main-icons-color;
        }
      }
    }
  }
}

.visible {
  @include visible;
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
  .root {
    .wrapper {
      ul {
        gap: 10px;
        li {
          font-size: 16px;
          line-height: 22px;
        }
      }
    }
  }
}
