@import '../../sass/base/mixins';

.root {
  margin-top: 100px;
  @include animation_speed;
  .button {
    color: #27205d;
    text-align: center;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid #27205d;
    background: #fff;
    display: flex;
    width: 250px;
    height: 51px;
    justify-content: center;
    align-items: center;
    margin: 30px auto 0 auto;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
      border-color 0.2s ease-in-out;

    &:hover {
      color: #fff;
      background: #27205d;
    }
  }

  .title {
    @include title;
  }
  .items {
    margin-top: 65px;
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(4, minmax(240px, 260px));
    grid-template-rows: minmax(266px, 293px);
    justify-content: space-between;
    .item {
      display: flex;
      flex-direction: column;
      position: relative;
      &:hover {
        .editButtons {
          display: flex;
          gap: 10px;
          position: absolute;
          background-color: #fff;
          border-radius: 10px;
          right: 15px;
          top: 15px;
          transition: all 0.15s ease-in-out;
          padding: 5px;
        }
      }
      .editButtons {
        display: none;
        svg {
          width: 20px;
          height: 20px;
          fill: #000;
        }
      }
      .news {
        &__img {
          max-width: 100%;
          height: 195px;
          width: auto;
          object-fit: cover;
        }
        &__title {
          color: #27205d;
          margin-top: 15px;
          font-family: 'Roboto';
          font-size: 19px;
          font-weight: 700;
          line-height: 27px; /* 155.676% */
          word-wrap: break-word;
        }
        &__descr {
          margin-top: 15px;
          color: rgba(0, 0, 0, 0.9);
          font-family: 'Roboto';
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 21.7px; /* 155% */
        }
        &__date {
          margin-top: 15px;
          color: rgba(0, 0, 0, 0.5);
          font-family: 'Roboto';
          font-size: 12px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          letter-spacing: 1px;
        }
      }
    }
    a {
      text-decoration: none;
    }
  }
}

.visible {
  @include visible;
}

@media (max-width: 1200px) {
  .root {
    margin-top: 65px;
    .title {
      font-size: 30px;
    }
    .items {
      grid-template-columns: repeat(3, minmax(240px, 270px));
      grid-template-rows: minmax(266px, 293px);
      justify-content: space-around;
    }
  }
}

@media (max-width: 992px) {
  .root {
    .title {
      font-size: 30px;
    }
    .items {
      margin-top: 30px;
      grid-template-columns: repeat(2, minmax(240px, 270px));
      grid-template-rows: minmax(266px, 293px);
      justify-content: space-around;
    }
  }
}

//Минимальная ширина телефона 320px
@media (max-width: 576px) {
  .root {
    margin-top: 65px;
    button {
      color: #27205d;
      text-align: center;
      font-family: 'Roboto';
      font-size: 15px;
      font-weight: 500;
      border-radius: 5px;
      border: 1px solid #000;
      background: #fff;
      display: flex;
      width: 208px;
      height: 42px;
      justify-content: center;
      align-items: center;
      margin: 30px auto 0 auto;
    }
    .items {
      margin-top: 30px;
      display: grid;
      grid-template-columns: minmax(335px, 500px);
      grid-template-rows: minmax(266px, 293px);
      gap: 20px;
      .item {
        display: flex;
        flex-direction: column;
        background-color: #f5f5f5;
        padding: 10px;
        border-radius: 10px;
        .news {
          &__img {
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
          }
          &__title {
            margin-top: 15px;
            color: #000;
            font-family: 'Roboto';
            font-size: 17.344px;
            font-weight: 700;
            line-height: 27px; /* 155.676% */
          }
          &__descr {
            margin-top: 15px;
            color: rgba(0, 0, 0, 0.9);
            font-family: 'Roboto';
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 21.7px; /* 155% */
          }
          &__date {
            margin-top: 15px;
            color: rgba(0, 0, 0, 0.5);
            font-family: 'Roboto';
            font-size: 9px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 1px;
          }
        }
      }
    }
  }
}
