@import './../../sass/base/mixins';
@import './../../sass/base/palette';

.root {
  @include root;
  @include animation_speed;
  .container {
    max-width: 950px;
    margin: 0 auto;
  }
  .title {
    @include title;
  }
  .items {
    display: grid;
    gap: 40px;
    @include wrapperMargin;
    .item {
      padding: 30px 40px 30px 40px;
      background: $block-color;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 40px;
      .icon {
        > svg {
          width: 80px;
          height: 80px;
          fill: $main-icons-color;
        }
      }
      .text {
        color: $text-color;
        text-align: justify;
        font-family: 'Montserrat Alternates';
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 149.4%;
      }
    }
  }
}

.visible {
  @include visible;
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
  .root {
    .title {
      @include title;
      font-size: 30px;
    }
    .items {
      display: grid;
      gap: 40px;
      margin: 30px auto 0 auto;
      .item {
        padding: 10px 10px;
        display: flex;
        justify-content: space-between;
        gap: 30px;
        .icon {
          > svg {
            width: 60px;
            height: 60px;
            fill: #ffffff;
          }
        }
        .text {
          font-size: 20px;
          line-height: 149.4%;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .root {
    .title {
      @include title;
      font-size: 30px;
    }
    .items {
      display: grid;
      gap: 20px;
      .item {
        padding: 10px 10px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        .icon {
          > svg {
            width: 80px;
            height: 60px;
            fill: #ffffff;
          }
        }
        .text {
          text-align: justify;
          font-family: 'Montserrat Alternates';
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 22px;
        }
      }
    }
  }
}

//Минимальная ширина телефона 320px
@media (max-width: 576px) {
  .root {
    .items {
      .item {
        .icon {
          > svg {
            width: 60px;
            height: 50px;
            fill: #ffffff;
          }
        }
      }
    }
  }
}
